.vscode/ipch/30cc74086a81ad33/mmap_address.bin
.vscode/ipch/28cb1ebc4e959b6/mmap_address.bin
.vscode/ipch/696290357d44e923/mmap_address.bin
.vscode/settings.json
.vscode/c_cpp_properties.json
resources/images/icon.png
